<header class="header">
    <div class="header-util" id="index-header-util">
        <a href="{BASE_PATH}pages/auth/login.html" class="util-link" data-lang="login" id="indexLoginBtn">로그인</a>
        <span class="util-divider">|</span>
        <a href="{BASE_PATH}pages/auth/signup.html" class="util-link" data-lang="signup">회원가입</a>
        <span class="util-divider">|</span>
        <a href="{BASE_PATH}pages/stay/reservation_check.html" class="util-link" data-lang="reservationCheck">예약 확인</a>
        <span class="util-divider">|</span>
        <a href="{BASE_PATH}pages/cs/customer_center.html" class="util-link" data-lang="customerCenter">고객센터</a>
    </div>

    <div class="header-inner">
        <div class="logo">
            <a href="{BASE_PATH}index.html" class="logo-link"><img src="{BASE_PATH}images/logo_jejuGP.png"
                    alt="제주그룹"></a>
        </div>

        <nav class="gnb" id="gnb">
            <ul class="gnb-list">
                <li class="gnb-item"><a href="#section-2" class="gnb-link" data-lang="navAir">제주에어</a></li>
                <li class="gnb-item"><a href="#section-3" class="gnb-link" data-lang="navHotel">제주 스테이</a></li>
                <li class="gnb-item"><a href="#section-4" class="gnb-link" data-lang="navRentCar">제주 렌트카</a></li>
                <li class="gnb-item"><a href="#section-5" class="gnb-link" data-lang="navMembership">멤버십</a></li>
            </ul>
        </nav>

        <div class="header-right-controls">
            <button class="lang-toggle">English</button>
            <div id="weather-widget" class="weather-widget">
                <button class="weather-header-btn" id="weather-open-btn">
                    <i class="fa-solid fa-spinner fa-spin"></i>
                </button>
            </div>
        </div>
    </div>
</header>