<header class="header">
    <div class="header-util" id="index-header-util">
        <a href="#" class="util-link route-link" data-route="AUTH.LOGIN" data-lang="login" id="indexLoginBtn">로그인</a>
        <span class="util-divider">|</span>
        <a href="#" class="util-link route-link" data-route="AUTH.SIGNUP" data-lang="signup">회원가입</a>
        <span class="util-divider">|</span>
        <a href="#" class="util-link route-link" data-action="OPEN_RESERVATION_DRAWER" data-lang="reservationCheck">예약
            확인</a>
        <span class="util-divider">|</span>
        <a href="#" class="util-link route-link" data-route="CS.CUSTOMER_CENTER" data-lang="customerCenter">고객센터</a>
    </div>

    <div class="header-inner">
        <div class="logo">
            <a href="#" class="logo-link route-link" data-route="HOME"><img
                    src="{BASE_PATH}jejustay/images/logo_jejuGP.png" alt="제주그룹"></a>
        </div>

        <nav class="gnb" id="gnb">
            <ul class="gnb-list">
                <li class="gnb-item"><a href="#section-2" class="gnb-link" data-lang="navAir">제주에어</a></li>
                <li class="gnb-item"><a href="#section-3" class="gnb-link" data-lang="navHotel">제주 스테이</a></li>
                <li class="gnb-item"><a href="#section-4" class="gnb-link" data-lang="navRentCar">제주 렌트카</a></li>
                <li class="gnb-item"><a href="#section-5" class="gnb-link" data-lang="navMembership">멤버십</a></li>
            </ul>
        </nav>

        <div class="header-right-controls">
            <button class="lang-toggle">English</button>
            <div id="weather-widget" class="weather-widget">
                <button class="weather-header-btn" id="weather-open-btn">
                    <i class="fa-solid fa-spinner fa-spin"></i>
                </button>
            </div>
        </div>
    </div>
</header>